<!doctype html>
<html>
  <head>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-2.1.4.min.js"></script>
    <title>Voice Server admin</title>
  </head>
  <body>
    <main>
      {{{body}}}
    </main>
  </body>
</html>